@model SM.LibreriaComun.DTO.Circulacion.ImagenesModels
<div class="panel panel-default">

    <div class="panel-body">
        <h2><i class="fa-imagen fa-2x"></i> Imagen</h2>
        <br />
        <div class="row push-down-20">
            <div class="col-md-4">

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Subir imagen</label>
                    <div class="col-md-9">

                        @Html.TextBoxFor(model => model.Imagenes, new { @class = "form-control", type = "file" })
                        @Html.ValidationMessageFor(model => model.Imagenes, "", new { @class = "text-danger" })
                        <p class="text-info"><i class="fa-question"></i> Tipos de archivos permitidos: .jpg, .png de tamaño máximo 2 Mb.</p>
                        @Html.HiddenFor(model => model.ImagenId)
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="btnDocumentoEscuela" class="btn btn-success  pull-left" data-dismiss="modal">Agregar</button>
            </div>
        </div>
        <div class="row push-down-20">
            <h3><span class="fa-clasificados fa-2x"></span> Listado</h3>
            @Html.HiddenFor(model => model.EventoId)
        </div>
        <div id="TablaDocumento" class="panel-body">
            @Html.Action("TablaImagenes", new { Id = Model.EventoId, EliminarId = 0 })
        </div>
    </div>

</div>

<script type="text/javascript">
    function CargarModalDocumentos(Id) {
        $('#item-to-delete-documento').val(Id);

    }


    function EliminarDocumento() {
        var varid = $('#item-to-delete-documento').val();
        var varEScenarioId = '@Model.EventoId';
        ActualizarListadoImagenes(varEScenarioId, varid);
        return false;
    }

    function ActualizarListadoImagenes(varID, varEliminar) {


        $("#Imagenes").val("").change();
        $.ajax({

            url: "/EventosPeriodicos/TablaImagenes",
            type: "GET",
            data: { Id: varID, EliminarId: varEliminar }
        })
       .done(function (partialViewResult) {
           $("#TablaDocumento").html(partialViewResult);
           $('#item-to-delete-documento').val(0);
           if (varEliminar > 0) {
               $("#modalConfirmarDocumentos").modal('hide');
               $('body').removeClass('modal-open');
               $('.modal-backdrop').remove();
           }
       });

    }

</script>

