@{
    ViewBag.Title = "Consulta Espacios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
        <li>@Html.ActionLink("Eventos", "Consulta", "EventosPeriodicos")</li>
    </ul>
    <div class="col-md-12">


        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.ActionLink(" Exportar", "ExportToPermisos", "EventosPeriodicos", null, new { @class = "btn btn-warning glyphicon glyphicon-export" })
                    @Html.ActionLink(" Nuevo", "Crear", "EventosPeriodicos", null, new { @class = "btn btn-success glyphicon glyphicon-plus-sign" })
                </div>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <div id="Tabla">
                        @Html.Action("GridViewPartialPermisos")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {


}





