@model WebSImus.Models.ConvocatoriaModels
@using MvcCheckBoxList.Model

<div class="panel panel-default">
    @*<div class="panel-heading">
            <h2><span class="fa-representante fa-2x"></span> Información Básica</h2>
        </div>*@
    <div class="panel-body">
        @Html.HiddenFor(model => model.ConvocatoriaId)
        @Html.HiddenFor(model => model.EstadoId)

        <div class="row push-down-20">
            <h3><span class="fa fa-book"></span> Datos Básicos</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-3 control-label">* Título</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control text", @maxlength = "1000" })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">* Descripción</label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control text", @rows = "5", @cols = "50" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-3 control-label">* Fecha inicio</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control datepicker", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">* Fecha Fin</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.FechaFin, new { @class = "form-control datepicker", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Estado</label>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.NombreEstado)
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Responsable</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">* Tipo de actor </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Tipo, (SelectList)ViewBag.listCategoria, "Seleccione la categoria", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">* Actor asociado</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.TipoActor, (SelectList)ViewBag.listActores, "Seleccione el actor", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.TipoActor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Relacionado A</label>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.RelacionadoA)

                    </div>
                </div>
            </div>

        </div>


        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Dirigido A</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">* Tipo de actor </label>
                    <div class="col-md-9">
                        @{
                            var htmlListInfo = new HtmlListInfo(HtmlTag.vertical_columns, 1);

                            @Html.CheckBoxListFor(model => model.DirigidoAPublicado,
                                              model => model.DirigidoAData,
                                              entity => entity.Id,
                                              entity => entity.Nombre,
                                              model => model.DirigidoASeleccionada, htmlListInfo);
                        }
                    </div>
                </div>
            </div>


        </div>

        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Documento</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Subir documento</label>
                    <div class="col-md-9">

                        @Html.TextBoxFor(model => model.Documento, new { @class = "form-control", type = "file", onclick = "resizePanel()" })
                        @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                        <p class="text-info"><i class="fa-question"></i> Tipos de archivos permitidos: .pdf  de tamaño máximo 2 Mb.</p>
                        @if (Model.documentoArchivo != null && Model.documentoArchivo.Count > 0)
                        {

                            foreach (var item in Model.documentoArchivo)
                            {
                                <br />
                                @Html.ActionLink(item.NombreArchivo, "Descargar", "Documento", new { id = item.DocumentoId }, new { title = string.Format("Descargar archivo: {0}\nFecha registro: {1}\nTamaño: {2} bytes", item.NombreArchivo, item.FechaRegistro.ToString("dd/MM/yyyy"), item.TamanoArchivo) })
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
