@model WebSImus.Models.Usuarios
@{
    ViewBag.Title = "Perfil Mincultura";
    Layout = "~/Views/Shared/_LayoutEstandar.cshtml";
}
@using (Html.BeginForm("ActualizarCuenta", "MinculturaPerfil", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{  
  <div class="page-container">
    <div class="panel panel-primary form-horizontal">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> Datos básicos y ubicación</h3>
        </div>
        <div class="panel-body" id="panelEditar">
            <div class="row">
                @Html.ValidationSummary(true)
            </div>
            <div class="row">
                <div class="form-group">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Correo electronico *</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.usuario, new { @readonly = "readonly", @class = "form-control text" })
                            @Html.HiddenFor(model => model.contrasena)
                            @Html.HiddenFor(model => model.confcontrasena)
                            @Html.HiddenFor(model => model.tipoRedSocial)

                            @Html.HiddenFor(model => model.Id)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tipo de documento *</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.tipoDocumento, (SelectList)ViewBag.listTipoDocumento, "Seleccione un valor", new { @class = "styled-select" })
                            @Html.ValidationMessageFor(model => model.tipoDocumento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Numero de documento *</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.numeroDocumento, new { @class = "form-control text", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.numeroDocumento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Foto</label>
                        <!--Modal imagen-->

                        <div class="col-md-8">
                            <p>Tipos de archivo permitidos: .jpg y .png de tamaño máximo 1 Mb</p>
                            <input onclick="resizePanel()" id="imagenPerfil" name="imagenPerfil" type="file">
                        </div>

                    </div>

                   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Pais de origen *</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.pais, (SelectList)ViewBag.listPaises, "Seleccione un valor", new { @class = "styled-select" })
                            @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Departamento de origen</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.departamento, (SelectList)ViewBag.listDpto, "--", new { @class = "styled-select" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Municipio de origen</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.municipio, (SelectList)ViewBag.listMun, "--", new { @class = " styled-select" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Sexo</label>
                        <div class="col-md-4">
                            <label class="check">
                                @Html.RadioButtonFor(m => m.sexo, "Femenino", Model.sexo != null && Model.sexo == "Femenino" ? new { Checked = "checked" } : null)<span class="fa fa-female"></span> Femenino

                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="check">
                                @Html.RadioButtonFor(m => m.sexo, "Masculino", Model.sexo != null && Model.sexo == "Masculino" ? new { Checked = "checked" } : null)<span class="fa fa-male"></span> Masculino
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fecha de nacimiento </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.fechaNacimiento, new { @class = "form-control datepicker", @Value = Model.fechaNacimiento })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Primer nombre *</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.primerNombre, new { @class = "form-control text", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.primerNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Segundo nombre</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.segundoNombre, new { @class = "form-control text", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Primer apellido *</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.primerApellido, new { @class = "form-control text", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Segundo apellido</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.segundoApellido, new { @class = "form-control text", @maxlength = "50" })
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Guardar" name="Guardar" class="btn btn-primary pull-right" id="btnGuardar" />
            <div class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-o-left"></i>@Html.ActionLink("Inicio", "Index", "Inicio")
            </div>
        </div>
    </div>

      </div>
}
@section Scripts {
   @Scripts.Render("~/Scripts/jqueryval")
<script src="@Url.Content("~/Scripts/plugins/icheck/icheck.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/fileinput/fileinput.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/fileinput/fileinput_locale_es.js")"></script>

    <script type="text/javascript">


        $('#imagenPerfil').fileinput({
            showUpload: false,
            language: 'es',
            overwriteInitial: true,
            maxFileSize: 1024,
            allowedFileExtensions: ['jpg', 'png'],
        });


        function resizePanel() {

            var h = $("#panelEditar").height();

        };

        var today = new Date("01/31/1910");
        $('#fechaNacimiento').datepicker({
            startDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
            endDate: 'd',
            format: 'yyyy-mm-dd'
        })



        $(function () {
            if ($('#fechaNacimiento').val() == "1970-01-01")
            { $('#fechaNacimiento').val(''); }
            $('#departamento').change(function () {
                var selectedDep = $(this).val();

                var city = $('#municipio');

                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("obtenerMunicipio")', { coddpto: selectedDep }, function (data) {
                        var items = '';

                        items = '<option>Seleccione un valor </option>';
                        $.each(data, function (i, dpto) {
                            items += "<option value='" + dpto.value + "'>" + dpto.text + "</option>";

                        });

                        city.empty();
                        city.html(items);
                        city.click();
                        //city.removeAttr('disabled');

                    });

                }

            })
        });




        $(function () {

            $('#pais').change(function () {
                var selectedDep = $(this).val();

                var city = $('#departamento');
                var varmunicipio = $('#municipio');
                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("obtenerDepartamento")', { codpais: selectedDep }, function (data) {
                        var items = '';

                        items = '<option>Seleccione un valor </option>';
                        $.each(data, function (i, dpto) {
                            items += "<option value='" + dpto.value + "'>" + dpto.text + "</option>";

                        });

                        city.empty();
                        city.html(items);
                        city.click();
                        varmunicipio.empty();

                    });

                }

            })
        });




    </script>
}


