@{
    ViewBag.Title = "Eventos Danza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <br />
    <div class="col-md-12">
        <div class="row">
           <div class="panel panel-default">

            
                <br />
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de eventos Danza</h3>

                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Pulse el siguiente botón para crear un nuevo evento.. </label>
                    <div class="col-md-8">


                        @Html.DevExpress().Button(settings =>
{
    settings.Name = "ButtonNuevo";
    settings.UseSubmitBehavior = false;
    settings.Text = "Nuevo Evento";
    settings.RouteValues = new { Controller = "EventoDanza", Action = "Evento" };
}).GetHtml()
                    </div>
                </div>

               <div class="form-group">
                   <label class="col-md-4 control-label">Pulse el siguiente botón para exportar el listado de eventos.. </label>
                   <div class="col-md-8">
                       @Html.DevExpress().Button(settings =>
{
    settings.Name = "ButtonExportar";
    settings.UseSubmitBehavior = false;
    settings.Text = "Exportar";
    settings.RouteValues = new { Controller = "EventoDanza", Action = "ExportTo" };
}).GetHtml()

                   </div>
               </div>

                <div class="panel-body">
                    <div class="row">
                        <div id="Tabla">
                            @Html.Action("GridViewPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/dx.webappjs.js")"></script>

}


