@model SM.LibreriaComun.DTO.FichaAsesoria.RepertorioNuevoDTO

<div class="modal animated fadeIn" id="modal_datosRepertorio" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content card">
            <div class="mf-modal-header">
                @Html.HiddenFor(model => model.EscuelaId)
                @Html.HiddenFor(model => model.Id)

                <h5 class="form-title">
                    <i class="fas fa-music"></i> Repertorio Musical
                </h5>
            </div>

            <div class="mf-modal-body">
                <div class="mf-field-group">
                    <label class="mf-label">Nombre</label>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "w-full px-3 py-2 border rounded", @maxlength = "512" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "mf-validation-error" })
                </div>

                <div class="mf-field-group">
                    <label class="mf-label">Compositor</label>
                    @Html.TextBoxFor(model => model.Compositor, new { @class = "w-full px-3 py-2 border rounded", @maxlength = "512" })
                    @Html.ValidationMessageFor(model => model.Compositor, "", new { @class = "mf-validation-error" })
                </div>

                <div class="mf-field-group">
                    <label class="mf-label">Arreglista</label>
                    @Html.TextBoxFor(model => model.Arreglista, new { @class = "w-full px-3 py-2 border rounded", @maxlength = "512" })
                    @Html.ValidationMessageFor(model => model.Arreglista, "", new { @class = "mf-validation-error" })
                </div>

                <div class="mf-field-group">
                    <label class="mf-label">Grado Dificultad Alcance</label>
                    @Html.TextBoxFor(model => model.Dificultad, new { @class = "w-full px-3 py-2 border rounded", @type = "number", @maxlength = "6", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Dificultad, "", new { @class = "mf-validation-error" })
                </div>
            </div>

            <div class="mf-modal-footer">
                <button type="button" id="btnGuardarNiveles" class="btn btn-success" data-dismiss="modal" onclick="ReperorioAgregar('@Model.Id')">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <i class="fas fa-times"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


