@model IEnumerable<SM.LibreriaComun.DTO.FichaAsesoria.InstrumentoNuevoDTO>

<div class="mf-table-container">
    @Html.Hidden("item-to-deletef", "", new { @id = "item-to-deletef" })

    <table class="mf-table">
        <thead>
            <tr>
                <th>Instrumento</th>
                <th>#Buenos</th>
                <th>#Regular</th>
                <th>#Malos</th>
                <th>#Perdidos</th>
                <th>#Total instrumentos</th>
                <th>Descripción</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Instrumento</td>
                        <td>@item.CantidadBuenos</td>
                        <td>@item.CantidadRegular</td>
                        <td>@item.CantidadMalos</td>
                        <td>@item.CantidadPerdidos</td>
                        <td>@item.Total</td>
                        <td>@item.Descripcion</td>
                        <td>
                            <a href="#" class="mf-action-icon-btn mf-action-delete"
                               title="Eliminar instrumento"
                               data-toggle="modal"
                               data-target="#modalConfirmarInstrumento"
                               onclick="CargarModalInstrumento('@item.Id')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="modalConfirmarInstrumento" class="modal fade animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content card">
            <div class="mf-modal-body">
                <p>
                    Está a punto de eliminar un elemento de su lista de instrumentos.
                    <strong>Tenga en cuenta que esta acción no se puede revertir.</strong>
                </p>
            </div>
            <div class="mf-modal-footer">
                <button type="button" class="btn border" data-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
                <button type="button" id="myDeleteForma" class="btn mf-btn-danger" data-dismiss="modal" onclick="EliminarInstrumentos()">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
