@model WebSImus.Models.EventoModels
@using MvcCheckBoxList.Model
@{
    ViewBag.Title = "Nuevo evento";
    Layout = "~/Views/Shared/_LayoutEstandar.cshtml";
}

@using (Html.BeginForm("Evento", "Evento", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
     <ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
        <li>@Html.ActionLink("Evento", "Consulta", "Evento")</li>
    </ul>
       <div class="panel panel-primary form-horizontal">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> Crear Concierto </h3>
        </div>
        <div class="panel-body" id="panelEditar">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-4 push-up-20">
                        <div class="form-group">
                            <div class="" id="user_image">
                                <img src="@Url.Content(ViewBag.ImageData)" class="img-thumbnail" />
                            </div>

                        </div>


                    </div>
                    <div class="col-md-8 push-up-20">
                        @Html.HiddenFor(model => model.Tipo)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="col-md-3 control-label">* Departamento</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.CodigoDepartamento, (SelectList)ViewBag.listDepartamentos, "Seleccione un departamento", new { @class = "styled-select" })
                                @Html.ValidationMessageFor(model => model.CodigoDepartamento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">* Municipio</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.CodigoMunicipio, (SelectList)ViewBag.listMunicipio, "Seleccione un municipio", new { @class = "styled-select" })
                                @Html.ValidationMessageFor(model => model.CodigoMunicipio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">* Nombre</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control text", @maxlength = "255", @readonly = true })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">* Entidad Organizadora</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.EntidadOrganizadora, new { @class = "form-control text", @maxlength = "500" })
                                @Html.ValidationMessageFor(model => model.EntidadOrganizadora, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">* Teléfono de la entidad</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control text" })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Correo electrónico de la entidad</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control text" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">* Lugar del concierto</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.LugarEvento, new { @class = "form-control text", @maxlength = "500" })
                                @Html.ValidationMessageFor(model => model.LugarEvento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">* Fecha del concierto</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.FechaEvento, new { @class = "form-control text", @readonly = true })
                                @Html.ValidationMessageFor(model => model.FechaEvento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">* Hora del concierto</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.HoraEvento, new { @class = "form-control icon-time" })
                                @Html.ValidationMessageFor(model => model.HoraEvento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> Subir foto</label>

                            <div class="col-md-9">
                                <p>Tipos de archivo permitidos: .jpg y .png de tamaño máximo 2.5 Mb</p>
                                <input onclick="resizePanel()" id="imagenPerfil" name="imagenPerfil" type="file">
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 push-up-20">
                    </div>
                    <div class="col-md-8 push-up-20">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Descripción</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control text", @rows = "5", @cols = "50" })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="panel-footer">
                <input type="submit" value="Guardar" name="Guardar" class="btn btn-primary pull-right" id="btnGuardar" />
                <div class="btn btn-default pull-left">
                    <i class="fa fa-arrow-circle-o-left"></i>@Html.ActionLink("Regresar", "Consulta", "Evento")
                </div>
            </div>
        </div>
    </div>

}
@section Scripts {

    @Scripts.Render("~/Scripts/jqueryval")
    <script src="@Url.Content("~/Scripts/plugins/icheck/icheck.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/fileinput/fileinput.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/fileinput/fileinput_locale_es.js")"></script>

    <script type="text/javascript">
        $('#HoraEvento').timepicker({
            template: false,
            showInputs: false,
            showTimePicker: false,
            minuteStep: 5
        });

        $('#HoraEvento').val('');
        var pagecontentwrapHeight = $(".page-content-wrap").height();
        $('#panelEditar').css("height", pagecontentwrapHeight);

        $('#imagenPerfil').fileinput({
            showUpload: false,
            language: 'es',
            overwriteInitial: true,
            maxFileSize: 2560,
            allowedFileExtensions: ['jpg', 'png'],
        });


        $(window).on('resize', function () {
            var new_pagecontentwrapHeight = pagecontentwrapHeight + 200;
            $('#panelEditar').css("height", new_panelbodyHeight);
            $('#panelEditar').css("min-height", pagecontentwrapHeight + 350);
        });

        function resizePanel() {
            var new_pagecontentwrapHeight = pagecontentwrapHeight + 200;
            $('#panelEditar').css("height", new_pagecontentwrapHeight);
        };

        $(function () {
            $('#CodigoDepartamento').change(function () {
                var selectedDep = $(this).val();
                var city = $('#CodigoMunicipio');

                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("ObtenerMunicipio", "Entidad")', { departamento: selectedDep }, function (data) {
                        var items = '';
                        items = '<option>Seleccione un municipio </option>';
                        $.each(data, function (i, municipio) {
                            items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";

                        });
                        city.empty();
                        city.html(items);
                        city.click();

                    });

                }

            })

            // por país
            $('#CodigoPais').change(function () {
                var selectedDep = $(this).val();
                var city = $('#CodigoDepartamento');
                var varmunicipio = $('#CodigoMunicipio');

                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("ObtenerDepartamento")', { codigopais: selectedDep }, function (data) {
                        var items = '';
                        items = '<option>Seleccione un departamento </option>';
                        $.each(data, function (i, departamento) {
                            items += "<option value='" + departamento.value + "'>" + departamento.text + "</option>";

                        });
                        city.empty();
                        city.html(items);
                        city.click();
                        varmunicipio.empty();

                    });

                }

            })
        });
    </script>
}

