@model WebSImus.Models.EstimuloModel

<div class="panel panel-default">

    <div class="panel-body">
        @Html.HiddenFor(model => model.Id)

        <div class="row push-down-20">
            <h3><span class="fa fa-agrupacion"></span> Datos básicos</h3>
        </div>
        <div class="row push-down-20">

            <div class="row">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">* Título</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control text", @maxlength = "300" })
                            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                  

                    <div class="form-group">
                        <label class="col-md-3 control-label">* Estado </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.EstadoId, (SelectList)ViewBag.listEstado, "Seleccione el estado", new { @class = "styled-select" })
                            @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">* Periodo </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Periodo, (SelectList)ViewBag.listAnos, "Seleccione", new { @class = "styled-select" })
                            @Html.ValidationMessageFor(model => model.Periodo, "", new { @class = "text-danger" })
                        </div>
                    </div>

             
                </div>

            </div>

            <div class="row">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">* Fecha Apertura</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.FechaApertura, new { @class = "form-control datepicker", @maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.FechaApertura, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">* Fecha Publicación </label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.FechaPublicacion, new { @class = "form-control datepicker", @maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.FechaPublicacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                   
                </div>
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">* Fecha Cierre </label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.FechaCierre, new { @class = "form-control datepicker", @maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.FechaCierre, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

            </div>


        </div>

        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Documento</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Subir documento</label>
                    <div class="col-md-9">

                        @Html.TextBoxFor(model => model.Documento, new { @class = "form-control", type = "file", onclick = "resizePanel()" })
                        @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                        <p class="text-info"><i class="fa-question"></i> Tipos de archivos permitidos: .pdf  de tamaño máximo 2 Mb.</p>
                        @if (Model.documentoArchivo != null && Model.documentoArchivo.Count > 0)
                        {

                            foreach (var item in Model.documentoArchivo)
                            {
                                <br />
                                @Html.ActionLink(item.NombreArchivo, "Descargar", "Documento", new { id = item.DocumentoId }, new { title = string.Format("Descargar archivo: {0}\nFecha registro: {1}\nTamaño: {2} bytes", item.NombreArchivo, item.FechaRegistro.ToString("dd/MM/yyyy"), item.TamanoArchivo) })
                            }

                        }
                    </div>
                </div>
            </div>
        </div>     
    </div>

</div>
<div class="panel-footer">
    <input type="submit" value="Guardar" name="Guardar" class="btn btn-primary pull-right" id="btnGuardar" />

</div>
