@{
    ViewBag.Title = "Consulta de  Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">


        @Html.DevExpress().Button(settings =>
{
    settings.Name = "ButtonNuevo";
    settings.UseSubmitBehavior = false;
    settings.Text = "Nuevo Rol";
    settings.RouteValues = new { Controller = "Rol", Action = "CrearRol" };
}).GetHtml()

        @Html.Action("GridViewConsultaRol")
        <div class="panel-footer">

            <div class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-o-left"></i>@Html.ActionLink("Regresar", "Index", "Inicio")
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
    <script src="@Url.Content("~/Scripts/dx.webappjs.js")"></script>

}

