@model WebSImus.Models.EntidadModels
@using MvcCheckBoxList.Model
@{
    ViewBag.Title = "Entidad";
    Layout = "~/Views/Shared/_LayoutEstandar.cshtml";
}

@using (Html.BeginForm("Editar", "Entidad", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
        <li>@Html.ActionLink("Entidad", "Index", "Entidad")</li>
        <li>@Html.ActionLink("Certificado", "CertificadoPdf", "Certificacion", new { Id = Model.Id, Modulo = "Entidades" }, null)</li>
    </ul>
    <div class="panel panel-colorful" id="panelEditar">
        <div class="row push-down-20">
            <div class="col-md-6">

                <div class="form-group">
                    @Html.ActionLink(" Certificado", "CertificadoPdf", "Certificacion", new { Id = Model.Id, Modulo = "Entidades" }, new { @class = "btn btn-warning glyphicon glyphicon-link" })

                    @Html.ActionLink(" Histórico", "Index", "Certificacion", new { Id = Model.Id, Modulo = "Entidades" }, new { @class = "btn btn-success glyphicon glyphicon-user" })
                </div>
            </div>
        </div>
        <div class="panel-body">

            <blockquote class="blockquote-success">
                <p class="text-danger ">Los campos marcados con asterisco (*) son obligatorios</p>
            </blockquote>
            <div class="wizard" id="wizardEditarA">

                <ul>
                    <li>
                        <a href="#step-1">
                            <span class="stepNumber">1</span>
                            <span class="stepDesc">Datos <br /><small>Básicos</small></span>
                        </a>
                    </li>

                    <li>
                        <a href="#step-2">
                            <span class="stepNumber">2</span>
                            <span class="stepDesc">Redes<br /><small>Sociales</small></span>
                        </a>
                    </li>

                </ul>
                <div id="step-1">
                    @Html.Partial("_DatosBasicos", Model)
                </div>
                <div id="step-2">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Action("_DatosRedes", "RedSocial", new { Id = @Model.Id, Tipo = "Entidad" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


}
@section Scripts {

    @Scripts.Render("~/Scripts/jqueryval")
    <script src="@Url.Content("~/Scripts/plugins/icheck/icheck.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/fileinput/fileinput.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/fileinput/fileinput_locale_es.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/smartwizard/jquery.smartWizard-2.0.js")"></script>

    <script type="text/javascript">

        var pagecontentwrapHeight = $(".page-content-wrap").height();
        $('#panelEditar').css("height", pagecontentwrapHeight);

        $('#imagenPerfil').fileinput({
            showUpload: false,
            language: 'es',
            overwriteInitial: true,
            maxFileSize: 1024,
            allowedFileExtensions: ['jpg', 'png'],
        });

        $('#wizardEditarA').smartWizard({
            selected: 0,
            enablePagination: false,
            enableFinishButton: false,
            enableAllSteps: true,
        });

        $(window).on('resize', function () {
            var new_pagecontentwrapHeight = pagecontentwrapHeight + 200;
            $('#panelEditar').css("height", new_panelbodyHeight);
            $('#panelEditar').css("min-height", pagecontentwrapHeight + 350);
        });

        function resizePanel() {
            var new_pagecontentwrapHeight = pagecontentwrapHeight + 200;
            $('#panelEditar').css("height", new_pagecontentwrapHeight);
        };

        $(function () {
            $('#CodigoDepartamento').change(function () {
                var selectedDep = $(this).val();
                var city = $('#CodigoMunicipio');

                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("ObtenerMunicipio")', { departamento: selectedDep }, function (data) {
                        var items = '';
                        items = '<option>Seleccione un valor </option>';
                        $.each(data, function (i, municipio) {
                            items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";

                        });
                        city.empty();
                        city.html(items);
                        city.click();
                        //city.removeAttr('disabled');

                    });

                }

            })

            // por país
            $('#CodigoPais').change(function () {
                var selectedDep = $(this).val();
                var city = $('#CodigoDepartamento');
                var varmunicipio = $('#CodigoMunicipio');

                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("ObtenerDepartamento")', { codigopais: selectedDep }, function (data) {
                        var items = '';
                        items = '<option>Seleccione un valor </option>';
                        $.each(data, function (i, departamento) {
                            items += "<option value='" + departamento.value + "'>" + departamento.text + "</option>";

                        });
                        city.empty();
                        city.html(items);
                        city.click();
                        varmunicipio.empty();

                    });

                }

            })
        });
    </script>

<script type="text/javascript">
    $('#btnAgrergarRedes').click(function () {
        var varRegistroId = '@Model.Id'
        var varTipo = "Entidad";
        var url = '@Url.Action("Guardar", "RedSocial")';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                facebook: $('#Facebook').val(), twitter: $('#Twitter').val(), instagram: $('#Instagram').val(), flick: $('#Flick').val(),
                youtube: $('#Youtube').val(), sound: $('#Sound').val(), sound: $('#Sound').val(), registroId: varRegistroId, tipo: varTipo
            },
            success: function (data) {
                if (data) {
                    $(':input', '#myForm')
                      .not(':button, :submit, :reset, :hidden')
                      .val('')
                      .removeAttr('checked')
                      .removeAttr('selected');
                    ActualizarListado(varAgenteId, 0);
                    //location.reload();

                }
            },

        });
    });

</script>
}

