@model SM.LibreriaComun.DTO.Servicios.HerramientaDetalleDTO
@{
    ViewBag.Title = "HomeCaja";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}
<div class="page-content">

    <!-- revolution slider -->
    <div class="row">
        <!-- ficha escuela -->
        <div class="col-md-12">
            <div class="col-md-2 col-sm-5 col-xs-5"><img style="padding-top:10px; padding-left:30px;" class="img-responsive" src="~/img/iconos/caja_big.png"></div>
            <div class="titulo_seccion col-md-10 col-sm-7 col-xs-7">Caja de Herramientas</div>

        </div>
    </div>
    <div class="row">

        <div class="subtitulo_seccion col-md-6 col-sm-12 col-xs-12 "><span style="text-align: left; padding: 5px;"></span>SIMUS</div>
    </div>

    <!-- ./page content wrapper -->
    <!-- page content wrapper -->
    <!-- revolution slider -->
    <!-- ./revolution slider -->
    <!-- page content wrapper -->
    <!-- page content wrapper    <div class="col-md-6 col-sm-12 titulo_convencion">
    Tipos de escuelas de música </div> -->
    <div class="col-md-12 well carousel-search" style="margin-top:40px;">
        <div class="row">
            <div class="col-md-12 this-animate" data-animate="fadeInLeft">
                <div class="container">
                    <!--Comienzo del código para pase de imágenes (Carrusel)-->
                    <div id="miCarrusel" class="carousel slide">

                        <!-- indicadores de elementos -->


                        <div class="carousel-inner">
                            <!-- Carrusel elementos (items) -->

                            <div class="item active">
                                <div class="embed-container" style="height:160px;">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href=""><img src="~/img/iconos/formacion.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Formación</p>
                                        </div>
                                        <div class="col-md-3 col-xs-3" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href=""><img src="~/img/iconos/creacion.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Creación</p>
                                        </div>
                                        <div class="col-md-3 col-xs-3" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href=""><img src="~/img/iconos/disco.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Producción</p>
                                        </div>
                                        <div class="col-md-3 col-xs-3" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href=""><img src="~/img/iconos/informacion.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Información</p>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="embed-container" style="height:160px;">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href="" data-lightbox="example-set"><img src="~/img/iconos/difusion.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Difusión</p>
                                        </div>
                                        <div class="col-md-3 col-xs-3 this-animate" data-animate="fadeInLeft" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href="" data-lightbox="example-set"><img src="~/img/iconos/distribucion.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Distribución</p>
                                        </div>
                                        <div class="col-md-3 col-xs-3 this-animate" data-animate="fadeInLeft" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href="" data-lightbox="example-set"><img src="~/img/iconos/audiencias.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Desarrollo de audiencias</p>
                                        </div>
                                        <div class="col-md-3 col-xs-3 this-animate" data-animate="fadeInLeft" style="text-align: center;">
                                            <div class="embed-container"><a class="example-image-link" href="" data-lightbox="example-set"><img src="~/img/iconos/gestion.png" class="img-responsive"></a></div>
                                            <p class="txt_cajadeh">Gestión</p>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div><!-- cierre carousel-inner-->
                        <!-- Carrusel navegación -->

                    </div>
                    <a class="left carousel-control" href="#miCarrusel" data-slide="prev" style="background-image:none !important; top:25%; left:-7%; color:#30367D;">
                        <i class="fa fa-angle-left" aria-hidden="true" style="font-size:2em;"></i>
                    </a>
                    <a class="right carousel-control" href="#miCarrusel" data-slide="next" style="background-image:none !important; top:25%; left:90%; color:#30367D;">
                        <i class="fa fa-angle-right" aria-hidden="true" style="font-size:2em;"></i>
                    </a><!-- cierre miCarrusel-->
                    <!--Final del código para pase de imágenes (Carrusel)-->
                </div>

            </div>


        </div>

    </div>



    <div class="row">

        <div class="page-content-wrap">

            <div class="divider"></div>

            <!-- page content holder -->
            <div class="page-content-holder">

                <div class="row">


                    <div class="col-md-12 col-sm-6 col-xs-12 this-animate" data-animate="fadeInLeft bounce">




                        <div class=" fondo_caja_item row">
                            <div class="col-md-1 col-sm-1 col-xs-1 fa-lg fa-play" style="color:#4c2c54; margin-top: 10px;"></div>
                            <div class="col-md-11 col-sm-11 col-xs-11 titulo_caja_item">@Html.DisplayFor(m => m.Nombre) </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 parrafo_ficha" style="background-color: #fff; border: 1px solid #e3e3e3;border-radius: 4px; ">@Html.DisplayFor(m => m.Descripcion)</div>

                        </div>
                        @if (!String.IsNullOrEmpty(Model.Autores))
                        {
                            <div class=" fondo_caja_item row">
                                <div class="col-md-1 col-sm-1 col-xs-1 fa-lg fa-play" style="color:#4c2c54; margin-top: 10px;"></div>
                                <div class="col-md-11 col-sm-11 col-xs-11 titulo_caja_item">@Html.DisplayFor(m => m.Autores) </div>

                            </div>
                        }
                        <div class=" fondo_caja_item row">
                            @if (Model.DocumentoId > 0)
                            {
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="col-md-11 col-sm-11 col-xs-11  caja_item">@Html.ActionLink("Descargar documento", "Descargar", "Documento", new { Id = Model.DocumentoId }, new { title = string.Format("Descargar archivo de portafolio") })</div>
                                    <div class="col-md-1 col-sm-1 col-xs-1 fa-2x fa-file-pdf" style="color:#4c2c54; margin-top: 10px;"></div>
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(Model.UrlArchivo))
                            {
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <a href="@Model.UrlArchivo" target="_blank">
                                        <div class="col-md-11 col-sm-11 col-xs-11 caja_item">Link de la publicación</div>
                                    </a>
                                    <div class="col-md-1 col-sm-1 col-xs-1 fa-2x fa-cartografia" style="color:#4c2c54; margin-top: 10px;"></div>
                                </div>
                            }
                            @if (Model.EsVideo)
                            {
                                <div class="col-md-6 col-sm-12 col-xs-12 caja_item fa-2x fa-play">
                                    Video
                                    <div class="vid col-md-12 col-sm-12 col-xs-12">
                                        <iframe width="560" height="315" src="@Model.UrlVideoEmbebido" allowfullscreen="true"></iframe>

                                    </div>
                                </div>
                            }
                        </div>

                    </div>





                </div>

            </div>

            <!-- ./2 -->
        </div>









        <div class="space1"></div>  <!-- ./page content wrapper -->
        <!-- page content wrapper -->
        <!-- ./page content wrapper -->
        <!-- ./page content wrapper -->
        <!-- page content wrapper -->

        <div class="space1">  </div>




    </div>
</div>
