@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="keywords" content="SIMUS, Sistema de Información de la Música">
    <meta name="description" content="SIMUS · Público."> <!-- META SECCION -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Simus - Público</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />

    @*<link href="@Url.Content("~/css/revolution-slider/extralayers.css")" rel="stylesheet">*@
    @*<link href="@Url.Content("~/css/revolution-slider/settings.css")" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">*@
@*<link href="@Url.Content("~/css/responsiveslides.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/newstyles.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/simus_font.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />*@


    @Styles.Render("~/Content/publico.css")


    <script type="text/javascript">

        // external login providers
        var loginMethods = {
            openWindow: function (url, name, iWidth, iHeight) {
                var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
                var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
                window.open(url, name, 'height=' + iHeight + ',innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',toolbar=no,menubar=no,scrollbars=yes,resizeable=no,location=no,status=no');
            },

            authFacebook: function (mode) {
                loginMethods.openWindow('/AuthExternal/Login/Facebook?mode=' + mode, '', 680, 340);
            },

            authTwitter: function (mode) {
                loginMethods.openWindow('/AuthExternal/Login/Twitter?mode=' + mode, '', 680, 520);
            },

            authGoogle: function (mode) {
                loginMethods.openWindow('/AuthExternal/Login/Google?mode=' + mode, '', 680, 520);
            },

            authPayPal: function (mode) {
                loginMethods.openWindow('/AuthExternal/Login/PayPal?mode=' + mode, '', 400, 550);
            },

            handleRedirect: function (url) {
                window.location = url;
            }
        };
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-76203017-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>
    <!-- page container -->
    <div class="page-container">
        <header class="he_header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-2 col-4 he_logo">
                        <a href="https://www.gov.co">
                            <img src="~/img/logo_header.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-lg-11 col-sm-10 col-8 he_menu">
                        <div class="row">
                            <div class="col-lg-6 col-md-5">
                                <p class="screen-lg">Conoce toda la oferta que el estado tiene para tí</p>
                                <p class="screen-md">¿Sabes que es GOV.CO?</p>
                                <p class="screen-sm">¿Sabes que es GOV.CO? Conócelo aquí</p>
                            </div>
                            <div class="col-lg-6 col-md-7 hidden-xs">
                                <ul class="nav" style="display: flex; flex-wrap: wrap;">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="https://www.gov.co/tramites-y-servicios" target="_blank">Trámites y servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.gov.co/participacion" target="_blank">Participación</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.gov.co/informacion" target="_blank">Entidades</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- page header -->
        <div class="page-header">
            <!-- page header holder -->
            <div class="page-header-holder">

                <!-- page logo -->

                <section class="equipo_seccion_1">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="width: 30%; padding-left: 30px;">

                                <a href="~/home/index"><img src="~/img/simus.svg" /></a>


                            </div>
                        </div>

                        <div class="col-md-6">


                            <img src="~/img/logo_blue.svg" style="width: 300px; float:right" />


                        </div>
                    </div>
                </section>
                <!-- ./page header holder -->
                <!-- nav mobile bars -->
                <!-- nav mobile bars -->

                <div class="navigation-toggle">
                    <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                </div>
                <!-- ./nav mobile bars -->
                <!-- navigation -->
                <div class="row barra_negra">

                    <ul class="navigation">

                        <li>
                            <a href="#"> Actores</a>
                            <ul>
                                <li><a href="~/Actores/Agentes"> Agentes</a></li>
                                <li><a href="~/Home/HomeAgrupaciones"> Agrupaciones</a></li>
                                <li><a href="~/Actores/Entidad"> Entidades</a></li>
                                <li><a href="~/Actores/Escuelas"> Escuelas</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#"> Mapas</a>
                            <ul>
                                <li><a href="~/ReporteMapas/MapaMusical"> Mapa Musical</a></li>
                                <li><a href="~/ReporteMapas/MapaEscuelas">  Mapa Escuelas</a></li>
                                <li><a href="~/ReporteMapas/TematicoEscuelas">  Mapa Escuelas Temático</a></li>
                                <li><a href="~/ReporteMapas/MapaCelebra">   Mapa Celebra </a></li>
                                <li><a href="~/ReporteMapas/TematicoCelebra">   Mapa Celebra Temático</a></li>
                                <li><a href="~/ReporteMapas/TematicoAgentes">  Mapa Agentes Temático</a></li>
                                <li><a href="~/ReporteMapas/MapaAgrupaciones">  Mapa Agrupaciones</a></li>
                                <li><a href="~/ReporteMapas/MapaEntidades">  Mapa Entidades</a></li>
                                <li><a href="~/ReporteMapas/MapaEventos">  Mapa Eventos</a></li>
                                <li><a href="~/ReporteMapas/MapaGeneral"> Mapa General</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Circulación</a>
                            <ul>
                                <li><a href="https://asisuenacolombia.wixsite.com/misitio" target="_blank"> Así suena Colombia </a></li>
                                <li><a href="https://asisuenameta.wixsite.com/misitio" target="_blank">  Así suena Meta</a></li>
                                <li><a href="https://asisuenacesar.wixsite.com/misitio" target="_blank"> Así suena Cesar</a></li>
                                <li><a href="https://asisuenarisaralda.wixsite.com/misitio" target="_blank">   Así suena Risaralda </a></li>
                                <li><a href="https://asisuenahuila.wixsite.com/misitio" target="_blank"> Así suena Huila</a></li>
                                <li><a href="~/Actores/Escenarios"> Escenarios</a></li>
                                <li><a href="~/Actores/Eventos"> Eventos Periódicos</a></li>
                                <li><a href="http://territoriosonoro.org/portafoliomusicaldecolombia/web/index.html" target="_blank">  Portafolio Musical de Colombia</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"> Caja de Herramientas</a>
                            <ul>
                                <li><a href="~/Herramientas/Index"> Convocatorias Estímulos 2018</a></li>
                                <li><a href="~/Herramientas/Convocatorias"> Listado de Convocatorias</a></li>
                                <li><a href="~/UtilidadHome/HomeCaja"> Herramientas</a></li>
                                <li><a href="~/Indicadores/Escuelas"> Estadísticas de Escuelas</a></li>
                                <li><a href="~/assets/pdf/MusicaCuentaDigital2018.pdf" target="_blank">  La Música Cuenta 2018</a></li>
                                <li><a href="~/assets/pdf/MusicaCuentaDigital2017.pdf" target="_blank">  La Música Cuenta 2017</a></li>
                                <li><a href="~/assets/pdf/MusicaCuentaDigital.pdf" target="_blank">  La Música Cuenta 2016</a></li>
                                <li><a href="https://aulasvirtuales.mincultura.gov.co/" target="_blank"> Aulas Virtuales</a></li>
                            </ul>

                        </li>
                        <li>
                            <a href="#"> Utilidades</a>
                            <ul>
                                <li><a href="~/UtilidadHome/Agenda"> Agenda Musical</a></li>
                                <li><a href="~/UtilidadHome/Clasificados"> Clasificados</a></li>
                                <li><a href="~/UtilidadHome/Noticias">  Noticias</a></li>
                                <li><a href="~/UtilidadHome/Documentos">  Documentos</a></li>
                                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSewNJvk5nphONNNFP7HiBO34-DTkUX1QkF6vvluGbB1_OO9Fw/viewform?c=0&w=1&includes_info_params=true" target="_blank">  Encuesta</a></li>
                            </ul>

                        </li>
                        <li>
                            <a href="http://territoriosonoro.org/" target="_blank"> Territorios Sonoros</a>
                        </li>
                        <li>
                            <a href="#"> Ayuda</a>
                            <ul>
                                <li><a href="~/Estatico/AcercaDe">  Acerca de</a></li>

                                <li><a href="https://www.youtube.com/watch?v=XHeW4nwGIAE" target="_blank">  Tutorial Escuela de Música</a></li>
                                <li><a href="https://www.youtube.com/watch?v=8EuUtH3UY5U" target="_blank">  Tutorial Agentes</a></li>
                                <li><a href="https://www.youtube.com/watch?v=0MFVp1y8f74" target="_blank">  Tutorial Agrupaciones</a></li>
                                <li><a href="https://www.youtube.com/watch?v=L-aJLj4BGfA" target="_blank">  Tutorial Entidades</a></li>
                                <li><a href="https://www.youtube.com/watch?v=6IOZPtUSxcw" target="_blank">  Tutorial Utilidades</a></li>

                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="col-md-4 col-xs-11 col-sm-6 combo_ingreso">
                <div class="col-md-4 col-xs-4 col-sm-4 ingreso ">
                    <a href="#search" class="btn btn-busc btn-md"> <span class="fa-lupa fa-1x">&nbsp;Buscar</span></a>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8" style="text-align: right;">
                    <a href="~/Cuenta/Login" class="btn btn-primary btn-md">
                        <span class="fa fa-lock-open">
                        </span> Ingresar
                    </a>
                    <a href="~/Cuenta/Registrarse" class="btn btn-success btn-md"><span class="fa fa-pencil-1"></span> Registrarse</a>
                </div>

            </div>
        </div>
        <!-- ./page header -->
        <!-- page content -->
        <div class="page-content" style="z-index:-10;">
            <!-- page content wrapper -->
            <div class="page-content-wrap bg-light">
                <!-- ./page content wrapper -->
                <!-- page content wrapper -->
                <div class="page-content-wrap bg-img-1">
                    <!-- page content holder -->
                    <div class="page-content-holder">
                        <div class="row">
                            <div class="col-md-4 this-animate" data-animate="fadeInLeft">
                                <div class="block-heading block-heading-centralized">
                                    <h4>MÚSICA</h4>
                                </div>
                            </div>
                            <div class="col-md-7 this-animate text-center" data-animate="fadeInRight">
                                <div class="block-heading block-heading-centralized">
                                    <div class="parrafo_intro">
                                        Por su naturaleza simbólica y por ser una de las expresiones culturales presente en todas las comunidades, la Música enriquece la vida cotidiana, posibilita el desarrollo perceptivo, cognitivo y emocional, fortalece valores individuales y colectivos, y se constituye uno de los fundamentos del conocimiento social e histórico.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./page content holder -->
                    </div>
                </div>

                <div class="page-content-wrap bg-light">

                    <!-- page content holder -->
                    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
                        <div class="row six">

                            <div class="col-md-4 col-sm-6 col-xs-6" style="padding-left: 0px;">

                                <div class="clip-me img-responsive" id="d1">
                                    <img src="~/img/foto_011.jpg" />
                                </div>

                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-6 ">
                                <div class="col-md-12 txt_home1">
                                    Utilidades
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <a href="~/UtilidadHome/HomeCaja"><div class="col-md-12 fa-caja fa-2x tamano_icon" style="color:#F19E0E; "></div></a>
                                        <div class="col-md-12 txt_icon" style="z-index: 2;">Herramientas</div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <a href="~/UtilidadHome/Clasificados">
                                            <div class="col-md-12 fa-clasificados fa-2x tamano_icon " style="color:#018DAE; "></div>
                                        </a>
                                        <div class="col-md-12 txt_icon ">clasificados</div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <a href="~/UtilidadHome/Noticias">
                                            <div class="col-md-12 fa-noticias fa-2x tamano_icon " style="color:#D92443;"></div>
                                        </a>
                                        <div class="col-md-12 txt_icon">Noticias</div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <a href="~/Actores/Eventos">
                                            <div class="col-md-12 fa-festivales  fa-2x tamano_icon " style="color:#A59925; "></div>
                                        </a>
                                        <div class="col-md-12 txt_icon">Eventos periódicos</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="row">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-xs-12 this-animate img-responsive" data-animate="zoomIn">
                                        <div class=" col-md-6 col-sm-6 col-xs-6  txt_home2 this-animate" data-animate="fadeInLeft" style="top:20px;">
                                            Mapas
                                        </div>
                                        <div class=" col-md-1 col-sm-4 col-xs-4 fa-map fa-4x" style="color:#FEAC16; margin-top:20px;"> </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 " style="font-size:14px;">
                                            Consulte la información del SIMUS a través de mapas, esto le permitirá visualizar de forma rápida y mucho más agradable la distribución geográfica de los actores (agentes, agrupaciones, entidades y escuelas de música), así como información del quehacer musical que se produce a nivel nacional y local que puede ser de su interés.
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 this-animate img-responsive" data-animate="zoomIn" style="min-height:200px">
                                        <a href="~/ReporteMapas/MapaMusical">    <img src="~/img/mapa_mus.png" alt="Mapa Musical de Colombia" class="img-responsive" /> </a>

                                    </div>

                                    <div class="col-md-5 col-sm-12 col-xs-12 parrafo_home">
                                        <div class="row" style="margin-top:60px;">
                                            <div class="col-md-12">
                                                <div class="col-md-6 col-sm-6 col-xs-6 txt_home3">
                                                    <div class=" col-md-2 col-sm-1 col-xs-1">  <span class="fa-arrow-right-b" style="color: #0189AA; margin-top: 10px;"></span> </div>

                                                    <a href="~/ReporteMapas/MapaEscuelas">
                                                        <div class="col-md-7 col-sm-6 col-xs-6"> Mapa Escuelas  </div>
                                                    </a>

                                                    <div class=" col-md-3 col-sm-5 col-xs-3" style="color:#FEAC16; margin-top:0px;"><img src="~/img/iconos/ico_mapa1.png" alt="Smiley face"> </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-6 txt_home3">
                                                    <div class=" col-md-2 col-sm-1 col-xs-1">  <span class="fa-arrow-right-b" style="color: #A19525; margin-top: 10px;"></span> </div>
                                                    <a href="~/ReporteMapas/MapaMusical">
                                                        <div class="col-md-7 col-sm-6 col-xs-6">  Mapa Musical   </div>
                                                    </a>

                                                    <div class=" col-md-3 col-sm-5 col-xs-3 " style="color:#FEAC16; margin-top:0px;"><img src="~/img/iconos/ico_mapa2.png" alt="Smiley face"> </div>
                                                </div>

                                            </div>

                                            <div class="col-md-12 divider"></div>
                                            <div class="col-md-12" style=" margin-top:20px;">

                                                <div class="col-md-6 col-sm-6 col-xs-6 txt_home3">
                                                    <div class="col-md-2 col-sm-1 col-xs-1">  <span class="fa-arrow-right-b" style="color: #FAA816; margin-top: 10px;"></span> </div>

                                                    <a href="~/ReporteMapas/MapaAgrupaciones">
                                                        <div class="col-md-7 col-sm-6 col-xs-6"> Mapa Agrupaciones </div>
                                                    </a>

                                                    <div class="col-md-3 col-sm-5 col-xs-3 " style="color:#FEAC16; margin-top:0px;"><img src="~/img/iconos/ico_mapa3.png" alt="Smiley face"> </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-6 txt_home3">
                                                    <div class="col-md-2 col-sm-1 col-xs-1">  <span class="fa-arrow-right-b" style="color: #D52443; margin-top: 10px;"></span> </div>
                                                    <a href="~/ReporteMapas/MapaEventos">
                                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                                            Mapa Eventos
                                                        </div>
                                                    </a>

                                                    <div class=" col-md-3 col-sm-5 col-xs-3 " style="color:#D52443; margin-top:0px;"><img src="~/img/iconos/ico_mapa4.png" alt="Smiley face"> </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">


                            <div class="row bg-img-3">

                                <div class="row">
                                    <div class="container pasoapaso">
                                        <div class="row pasoapaso-inner">
                                            <div class="col-md-9 col-xs-9 col-sm-9 col-centered">
                                                <div class="col-md-6 col-xs-6 col-sm-6 progress progress_pasoapaso">

                                                </div>
                                                <div class="col-md-6 col-xs-6 col-sm-6 progress progress_pasoapaso_new">

                                                </div>

                                            </div>
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation">
                                                    <a href="~/Actores/Escuelas" aria-controls="step1" role="tab" title="Escuelas de música">
                                                        <span class="round-tab-blue">
                                                            <i class="fa-escuelas fa-2x" style="color:#fff;"></i>
                                                        </span>
                                                    </a>
                                                    <div class="txt_pasoapaso">Escuelas</div>
                                                    <div class="contador_azul">@ViewBag.cantEscuelas</div>


                                                </li>
                                                <li role="presentation">
                                                    <a href="~/Home/HomeAgrupaciones" aria-controls="step2" role="tab" title="Agrupaciones">
                                                        <span class="round-tab-yellow">
                                                            <i class="fa-agrupacion fa-2x " style="color:#fff;"></i>
                                                        </span>
                                                    </a>
                                                    <div class="txt_pasoapaso">Agrupaciones</div>
                                                    <div class="contador_amarillo">@ViewBag.cantAgrupacion</div>
                                                </li>
                                                <li role="presentation">
                                                    <a href="~/Actores/Agentes" aria-controls="step3" role="tab" title="Agentes">
                                                        <span class="round-tab-red">
                                                            <i class="fa-agentes fa-2x" style="color:#fff; margin-top: 30px;"></i>
                                                        </span>
                                                    </a>

                                                    <div class="txt_pasoapaso">Agentes</div>
                                                    <div class="contador_rojo">@ViewBag.cantAgente</div>
                                                </li>
                                                <li role="presentation">
                                                    <a href="~/Actores/Entidad" aria-controls="complete" role="tab" title="Entidades">
                                                        <span class="round-tab-green">
                                                            <i class="fa-entidades fa-2x " style="color:#fff;"></i>
                                                        </span>
                                                    </a>


                                                    <div class="txt_pasoapaso">Entidades</div>
                                                    <div class="contador_verde">@ViewBag.cantEntidad</div>

                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- ./page content holder -->
                            </div>





                        </div>

                    </div>
                </div>

                <div class="page-content-wrap bg-light">

                    <div class="page-content-holder padding-v-20">

                        <div class="col-md-6 text-center">
                            <div class=" col-md-5 col-sm-5 col-xs-5  fa-dash fa-4x" style="color:#018DAE; margin-top: -8px;"> </div>
                            <div class=" col-md-7 col-sm-7 col-xs-7 txt_blanco_home ">Estadísticas Escuelas </div>

                            <a href="~/Indicadores/Escuelas" alt="Estadísticas de escuelas de música" title="Estadísticas de escuelas de música"><img src="~/img/foto_012.png" class="img-responsive" /></a></br>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-6 col-xs-6"></div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">	 <br><span style="font-style:italic; font-size: 13px; float: right;">Ver estadísticas</span></br></div><div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 15px;"><a href="~/Indicadores/Escuelas" alt="Estadísticas de escuelas de música" title="Estadísticas de escuelas de música">	<img src="~/img/iconos/mas_azul.png" alt=""> </a></div>




                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12  text-center">
                            <div class="row">
                                <div class=" col-md-5 col-sm-5 col-xs-5 fa-convocatorias fa-4x" style="color:#D92443; margin-top: -8px;"> </div>
                                <div class=" col-md-5 col-sm-7 col-xs-7 txt_blanco_home2">Agenda Musical</div>
                            </div>
                            <div class="row">
                                @Html.Action("_DatosAgenda")

                            </div>




                        </div>
                        <!-- ./page content holder -->
                    </div>
                    <!-- ./page content wrapper -->
                </div>
                <div class="space1">  </div>
                <div class="space1">  </div>
                <div class="page-content-wrap bg-light">
                    <!-- page content holder -->
                    <div class="container-fluid">

                        <div class="row iconos_home">
                            <div class="col-md-12 this-animate" data-animate="fadeInLeft bounce">
                                <div class="usuarios col-md-2 col-sm-6 col-xs-12">
                                    <div class="iconos_usuarios">
                                        <a href="http://www.mincultura.gov.co/Sitios/artes/colombiaesunanota/index.aspx" target="_blank"><img src="../img/iconos/campo.png" width="62" height="53" alt="Colombia es una nota" title="Colombia es una nota"></a>
                                    </div>
                                    <a href="http://www.mincultura.gov.co/Sitios/artes/colombiaesunanota/index.aspx" target="_blank">
                                        <p class="titulo_usuarios">COLOMBIA ES UNA NOTA</p>
                                    </a>

                                </div>
                                <div class="usuarios col-md-2 col-sm-6 col-xs-12">
                                    <div class="iconos_usuarios">
                                        <a href="http://bancodecontenidos.mincultura.gov.co/app" target="_blank">
                                            <img src="../img/iconos/banco.png" width="62" height="53" alt="Banco de contenidos" title="Banco de contenidos">
                                        </a>
                                    </div>
                                    <a href="http://bancodecontenidos.mincultura.gov.co/app" target="_blank">
                                        <p class="titulo_usuarios">BANCO DE CONTENIDOS</p>
                                    </a>

                                </div>
                                <div class="usuarios col-md-2 col-sm-6 col-xs-12">
                                    <div>
                                        <a href="http://www.territoriosonoro.org/CDM/acontratiempo/" target="_blank"><img src="../img/iconos/revista.png" width="62" height="53" alt="Revista A Contratiempo" title="Revista A Contratiempo"></a>
                                    </div>
                                    <a href="http://www.territoriosonoro.org/CDM/acontratiempo/" target="_blank">  <p class="titulo_usuarios">REVISTA A CONTRATIEMPO</p></a>

                                </div>
                                <div class="usuarios col-md-2 col-sm-6 col-xs-12">
                                    <div>
                                        <a href="http://celebralamusica.mincultura.gov.co/" target="_blank"><img src="../img/iconos/celebra.png" width="62" height="53" alt="Celebra la Música" title="Celebra la Música"></a>
                                    </div>
                                    <a href="http://celebralamusica.mincultura.gov.co/" target="_blank">
                                        <p class="titulo_usuarios">PORTAL CELEBRA LA MÚSICA</p>
                                        <p>
                                    </a>
                                </div>

                                <div class="usuarios col-md-2 col-sm-6 col-xs-12">
                                    <div>
                                        <a href="http://www.mincultura.gov.co/proyectoeditorial/Pages/default.aspx" target="_blank"><img src="../img/iconos/editorial.png" width="62" height="53" alt="Proyecto Editorial" title="Proyecto Editorial"></a>
                                    </div>
                                    <a href="http://www.mincultura.gov.co/proyectoeditorial/Pages/default.aspx" target="_blank">
                                        <p class="titulo_usuarios">PROYECTO EDITORIAL</p>
                                        <p>
                                    </a>
                                </div>
                                <div class="usuarios col-md-2 col-sm-6 col-xs-12">
                                    <div>
                                        <a href="http://recursos.bibliotecanacional.gov.co/content/cartografias-de-practicas-musicales-en-colombia" target="_blank"><img src="../img/iconos/carto.png" width="62" height="53" alt="Cartografía" title="Cartografía"></a>
                                    </div>
                                    <a href="http://recursos.bibliotecanacional.gov.co/content/cartografias-de-practicas-musicales-en-colombia" target="_blank">
                                        <p class="titulo_usuarios">
                                            CARTOGRAFÍA MUSICAL DE COLOMBIA
                                        </p>
                                    </a>


                                </div>


                            </div>
                        </div>


                    </div>
                    <!-- ./page content holder -->
                </div>

                <!-- ./page content wrapper -->

            </div>
            <!-- ./page content -->




        </div>

        <!-- page footer -->
        <!-- ./page footer -->
        <!-- page footer -->
        <div class="page-footer">
            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-dark-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder page-footer-holder-main">
                    <div class="row he_footer">
                        <div class="col-xl-2 col-lg-3  split screen-lg logos">
                            <div class="logo ">
                                <a href="https://www.gov.co">
                                    <img src="~/img/logo_footer.png" alt="logo">
                                </a>
                            </div>
                            <div class="logo_co" style="margin-top:80px;">
                                <a href="https://www.colombia.co">
                                    <img src="~/img/logo_co_footer.png" alt="logo co">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-xs-5  split">
                            <h4>Ministerio de Cultura</h4>
                            <p>
                                Dirección: Ministerio de Cultura<br>
                                Carrera 8 No. 8 - 55 Bogotá D.C., Colombia<br>
                                @*Código Postal: xxxx <br>*@
                                Horario de Atención: Lunes a Viernes 8:00 am - 5:00 pm.
                            </p>
                            <ul class="he_footer_redes">
                                <a href="https://www.youtube.com/channel/UCWv5Kl8hH6kKqdMkLXVJzZA" target="blank">
                                <li>
                                    <i class="fa fa-youtube2 fa- fa-circulo" aria-hidden="true"></i>
                                    <div class="fa_text">Youtube</div>
                                </li>
                                </a>
                                <a href="https://soundcloud.com/plan-nacional-de-m-sica" target="blank">
                                <li>
                                    <i class="fa  fa-soundcloud2 fa-circulo" aria-hidden="true"></i>
                                    <div class="fa_text">Soundcloud</div>
                                </li>
                                </a>
                                <a href="https://www.facebook.com/plandemusica" target="blank">
                                <li>
                                    <i class="fa fa-face fa-circulo" aria-hidden="true"></i>
                                    <div class="fa_text">Facebook</div>
                                </li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-8 no-split">
                            <h4><i class="fa fa-telephone" aria-hidden="true"></i> Contacto</h4>
                            <p>
                                Teléfono Conmutador: +57(1) 3424100 <br>
                                Línea Gratuita: 01-800-0938081 <br>
                                @*Linea Anticorrupción : 01-800-xxxxxx <br>*@
                                Correo Institucional: simus@mincultura.gov.co <br>
                                Correo de notificaciones judiciales: <br>
                                notificaciones.simus@mincultura.gov.co <br>
                                <a href="#">Política de seguridad de la información</a>
                            </p>
                        </div>

                    </div>
                </div>
                <!-- ./page footer holder -->
            </div>

        </div>

        <div id="search">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" id="inputsearch" value="" placeholder="Escribe una o varias palabras" />
                <a href="#" class="btn btn-busqueda" onclick="window.location.href='@Url.Action("Resultado", "Home")' + '?param=' + $('#inputsearch').val()">Buscar</a>
            </form>
        </div>
        <!-- ./page container -->
        <!-- page scripts -->
        <!-- START SCRIPTS -->
        <!-- START PLUGINS-->
        @Scripts.Render("~/Scripts/jquery")
      
        @*<script src="@Url.Content("~/Scripts/jquery/jquery-2.2.4.intellisense.js")"></script>*@

        <!-- END PLUGINS -->
        <!-- START TEMPLATE-->
        <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.js")"></script>
        <script src="@Url.Content("~/Scripts/toDo/actions_front-end.js")"></script>
        @*<script src="@Url.Content("~/Scripts/toDo/slider.js")"></script>*@

        @*<script src="@Url.Content("~/Scripts/plugins/mixitup/jquery.mixitup.js")"></script>*@
        <script src="@Url.Content("~/Scripts/plugins/appear/jquery.appear.js")"></script>

        @*<script src="@Url.Content("~/Scripts/plugins/revolution-slider/jquery.themepunch.tools.min.js")"></script>*@
        <script src="@Url.Content("~/Scripts/plugins/revolution-slider/jquery.themepunch.revolution.min.js")"></script>

        <script src="@Url.Content("~/Scripts/Sliders/responsiveslides.js")"></script>

        <!-- END TEMPLATE -->
        <!-- END SCRIPTS -->


    </div>
</body>
</html>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
</script>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=123788157987182";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>

    $(function () {
        $("#slider1").responsiveSlides({
            speed: 800
        });
        $("#slider4").responsiveSlides({
            auto: false,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
        $("#slider4").responsiveSlides({
            auto: false,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>  