@model IEnumerable<WebSImus.Models.AgenteExperienciaModels>
<div class="panel panel-default">
    <div class="form-group">
        <div class="row">
            <table class="table">
                @Html.Hidden("item-to-deletef", "", new { @id = "item-to-deletef" })
                <thead>
                    <tr>
                        <th>Institución</th>
                        <th>Título</th>
                        <th>Periodo Inicio</th>
                        <th>Periodo Final</th>
                        <th>Eliminar</th>

                    </tr>
                </thead>

                @if (Model != null)
                {
                    foreach (WebSImus.Models.AgenteExperienciaModels item in Model)
                    {
                        <tbody>
                            <tr>

                                <td>@item.Empresa</td>
                                <td>@item.Titulo</td>
                                <td>@item.FechaInicio</td>
                                <td>@item.FechaFinal</td>
                                <td><a href="" class="fa-trash-a" data-toggle="modal" data-target="#modalConfirmarFormacion" data-id="@item.ExperienciaId" onclick="javascript: CargarModalFormacion('@item.ExperienciaId');"></a></td>
                            </tr>



                        </tbody>
                    }
                }
            </table>
        </div>
    </div>
    <div id="modalConfirmarFormacion" class="modal modal-vcenter fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Esta a punto de eliminar un elemento de su lista de formación. <strong>Tenga en cuenta que esta acción no se puede revertir</strong>.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="myDeleteForma" class="btn btn-danger" data-dismiss="modal" onclick="EliminarFormacion()">Eliminar</button>

                </div>
            </div>

        </div>
    </div>
</div>

