@model SM.LibreriaComun.DTO.Circulacion.EscenarioDTO
@using MvcCheckBoxList.Model
<div class="panel panel-default">
    <div class="panel-heading">
        <h2><span class="fa-representante fa-2x"></span> Información Básica</h2>
    </div>

    <div class="panel-body">


        <div class="row push-down-20">
            <h3><span class="fa-representante fa-2x"></span> Datos Básicos</h3>
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-3 control-label">* Nombre </label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control text", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">* Descripción</label>
                    <div class="col-md-9">

                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control text", @rows = "10", @cols = "50", @maxlength = "2000" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-3 control-label">* Clasificación</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ClasificacionId, (SelectList)ViewBag.listClasificacion, "Seleccione", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.ClasificacionId, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>

        </div>

        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Responsable</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">* Tipo de actor </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Tipo, (SelectList)ViewBag.listCategoria, "Seleccione", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">* Actor asociado</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ActorId, (SelectList)ViewBag.listActores, "Seleccione", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.ActorId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="row push-down-20">
            <h3><span class="fa-documentos fa-2x"></span> Datos de Ubicación</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-3 control-label">* Departamento</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.CodDepartamento, (SelectList)ViewBag.listDepartamentos, "Seleccione", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.CodDepartamento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">* Municipio</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.codMunicipio, (SelectList)ViewBag.listMunicipio, "Seleccione", new { @class = "styled-select" })
                        @Html.ValidationMessageFor(model => model.codMunicipio, "", new { @class = "text-danger" })
                    </div>
                </div>




            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-3 control-label">* Dirección</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.direccion, new { @class = "form-control text", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">* Aforo</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.aforo, new { @class = "form-control text", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.aforo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row push-down-20">
            <h3><span class="fa-documentos fa-2x"></span> Datos de Contacto</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label"> * Nombre Contacto</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Contacto, new { @class = "form-control text", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"> Pagina Web</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.PaginaWeb, new { @class = "form-control text", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.PaginaWeb, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="col-md-6">


                <div class="form-group">
                    <label class="col-md-3 control-label"> * Teléfono</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control text", @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">* Correo Electrónico</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "form-control text", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
        </div>
        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Horario de Atención</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label"> Días de Funcionamiento </label>
                    <div class="col-md-9">
                        @{
                            var htmlListInfo = new HtmlListInfo(HtmlTag.vertical_columns, 1);

                        @Html.CheckBoxListFor(model => model.DirigidoAPublicado,
                                              model => model.DirigidoAData,
                                              entity => entity.Id,
                                              entity => entity.Nombre,
                                              model => model.DirigidoASeleccionada, htmlListInfo);
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">* Hora de Apertura</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.HoraApertura, new { @class = "form-control icon-time" })
                        @Html.ValidationMessageFor(model => model.HoraApertura, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">* Hora de Cierre</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.HoraCierre, new { @class = "form-control icon-time" })
                        @Html.ValidationMessageFor(model => model.HoraCierre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row push-down-20">
            <h3><span class="fa-file-pdf fa-2x"></span> Documento</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Subir documento</label>
                    <div class="col-md-9">

                        @Html.TextBoxFor(model => model.Documento, new { @class = "form-control", type = "file", onclick = "resizePanel()" })
                        @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                        <p class="text-info"><i class="fa-question"></i> Tipos de archivos permitidos: .pdf  de tamaño máximo 2 Mb.</p>
                        @if (Model.documentoArchivo != null && Model.documentoArchivo.Count > 0)
                        {

                            foreach (var item in Model.documentoArchivo)
                            {
                                <br />
                                @Html.ActionLink(item.NombreArchivo, "Descargar", "Documento", new { id = item.DocumentoId }, new { title = string.Format("Descargar archivo: {0}\nFecha registro: {1}\nTamaño: {2} bytes", item.NombreArchivo, item.FechaRegistro.ToString("dd/MM/yyyy"), item.TamanoArchivo) })
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row push-down-20">
            <h3><span class="fa-documentos fa-2x"></span> Activar</h3>
        </div>
        <div class="row push-down-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label"> ¿Activar registro?</label>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(m => m.EsActivo, new { @checked = "checked" })
                        @Html.ValidationMessageFor(model => model.EsActivo, "", new { @class = "text-danger" })
                    </div>
                </div>




            </div>
            <div class="col-md-6">






            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" value="Guardar" name="Guardar" class="btn btn-primary pull-right" id="btnGuardar" />

    </div>
</div>

