@{
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<style type="text/css">
    #PanelMapa {
        height: 700px;
    }
</style>

<!-- Encabezado -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-1 col-sm-6 col-xs-6">
            <img style="padding-top:10px;" src="~/img/iconos/mapas_big.png" />
        </div>
        <div class="titulo_seccion col-md-11 col-sm-6 col-xs-6">MAPAS</div>
    </div>
</div>

<!-- Subtítulo -->
<div class="row">
    <div class="subtitulo_seccion col-md-6 col-sm-12 col-xs-12">
        <span class="fa-agrupacion fa-lg" style="text-align: left; padding: 5px;"></span>
        Eventos Musicales
    </div>
</div>

<!-- Contenedor de filtros + mapa -->
<div class="col-md-12 well carousel-search">

    <!-- Filtros -->
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-8">
            <form>
                <div class="btn-group">
                    @Html.DropDownList("DepartamentoSelector", (SelectList)ViewBag.departamentos, "Departamento", new { @class = "btn btn-default dropdown-toggle btn-select" })
                </div>
                <div class="btn-group">
                    @Html.DropDownList("MunicipioSelector", (SelectList)ViewBag.municipios, "Municipio", new { @class = "btn btn-default dropdown-toggle btn-select2" })
                </div>
                <div class="btn-group">
                    @Html.DropDownList("ClasificadoSelector", (SelectList)ViewBag.listadoClasificados, "Clasificación", new { @class = "btn btn-default dropdown-toggle btn-select2" })
                </div>
                <div class="btn-group">
                    <button type="button" id="btnSearch" class="btn btn-primary">Volver a cargar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Mapa -->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="PanelMapa" class="col-md-12">
                    <!-- Aquí se renderiza dinámicamente el mapa -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/x-handlebars-template" id="infowin_entidades-template">
        <div id="infowin_escuelas">
            <div class="col-md-12 col-sm-4 col-xs-9">
                <div class="modal-header">
                    @*<div class="img-responsive">

                            {{#if rutaFoto}}
                            <img class="img-responsive" src={{rutaFoto}} alt="{{titulo}}" />
                            {{/if}}
                            {{#if imagen}}
                               <img class="img-responsive" src="@WebSImus.Models.Usuarios.CreateImageThumbnail({{imagen}})" />
                            {{/if}}
                        </div>*@
                    <div class="row titulo_eventoc">
                        <div class="row">
                            <div class="col-md-12">{{titulo}}</div>
                            <div class="col-md-12"><span style="color:#ffbd04">{{nombreActor}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 titulo_escuela">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10 texto_modal_calendar ">{{clasificacion}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 titulo_escuela">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10 texto_modal_calendar ">{{descripcion}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 titulo_agendamusical">
                                <div class="col-md-2 fa-reloj fa-2x">
                                </div>
                                <div class="col-md-10 ">{{fechaInicio}}<p><span style="color:#4C2C54;">{{fechaFin}}</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 titulo_agendamusical">
                                <div class="col-md-2 fa-correo fa-2x">
                                </div>
                                <div class="col-md-10">
                                    {{email}}<p><span style="color:#4C2C54">{{telefono}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 titulo_agendamusical">
                                <div class="col-md-2 fa-pencil-1 fa-2x">
                                </div>
                                <div class="col-md-10">
                                    {{direccion}}<p><span style="color:#4C2C54">{{ubicacion}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @*<div class="col-md-3 ">

                                <a href="{{ver_Mas}}" class="btn vermas_morado" target="_blank">Ver Mas</a>


                            </div>*@
                        <div class="col-md-offset-3">

                            <button type="button" class="btn vermas_morado" onclick="streetView('{{geometry.LATITUD}}', '{{geometry.LONGITUD}}')">Ver StreetView</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </script>
    <script type="text/javascript">

        $(document).on('ON_COMPLETE_LOAD_COMPONENT', function () {
            var urlHost = "http://" + window.location.host;
            window.componentMaps = new com.servinf[window.spaceName].ComponentMaps('#PanelMapa', {
                'module': com.servinf.ComponentMaps.Config.modules.VIEWER_DATA, //Indica que el mapa va a visualizar capas
                'request_position': false,  // Realizar la solicitud de la posicion actual del usuario
                'search_bar': false,        // Barra de busqueda dentro del mapa
                'streetview_panel': false,  // El panel de streetview en un porcentaje de la pantalla. Ej: 50
                'map_type': "roadmap",      // Tipo de mapa a iniciar: hybrid, satellite, terrain, roadmap
                'map_options': false,
                'initial_position': {
                    'lat': 5.065781,
                    'lng': -75.507820,
                    'zoom': 6
                },
                'details': {                // Especificaciones del vista
                    '_initialPoint': {
                        'name': "Casa Museo Casa de Nariño",
                        'routing': true,
                        'streetview': false,
                        'Latitud': 4.599872,
                        'Longitud': -74.072898,
                        'templateString': "Este es el punto inicial"
                    },
                    'layers': [{            // Capas a mostrar
                        'id': "eventos_mapa",     // Identificador de la capa, sirve para accederla de manera remota.
                        'name': "eventos",   // Nombre de la capa
                        'type': "webservice",           // Tipo de capa (catodb,webservice,cartoviz)
                        'autoload': true,               // Indica que se cargara de manera automatica la capa al iniciar el mapa
                        'keyTitle': "titulo",           // Indica el tooltip que llevaran los OVERLAYS (Objetos dibujados en el mapa)
                        'fitBounds': false,             // Indica que se hara zoom a la capa en donde sea dibujada
                        'cluster': true,                // True si quieres que clusterize (solo si la capa es de puntos)
                        'cluster_options': {            // Opciones de cluster
                            'group_key': "titulo",
                            'primary_key': "titulo",
                            'seconday_key': "direccion"
                        },
                        'heat_map': false,              // True si quieres que realize el mapa de calor (solo si la capa es de puntos)
                        'heat_map_options': {           // Opciones del Mapa de calor
                            'max_zoom': 7               // Zoom Maximo a cambiar de Mapa de calor a puntos
                        },
                        'url': "/api/EventosGeo/", // Url del servicio (En caso de que sea de tipo 'webservice)
                        'specifications': {                             // Especificaciones del servicio
                            'node_list': "eventos"                     // Indica el NODO de responseData sobre cual iterar
                        },
                        'template_settings': {                          // Infowindow
                            'element': "infowin_entidades-template"      // Nodo Plantilla de Handlebars
                        },
                        'methods': {
                            'onFetchData': function (data) {
                                console.log(data);
                            }
                        },
                        'thematic': [                   // Tematicos (Indicar Iconos, colores, etc..)
                             {
                                 'name': "evento_simus",
                                 'icon': urlHost + "/img/marcadores/mark_eventos.png",
                                 'rule': {
                                     'key': "",
                                     'operator': "*",
                                     'value': "",
                                 }

                             }
                        ]
                    }]
                }
            });
        });

        $(function () {
            $("#form_filter").submit(function () {
                var data = $(this).serializeArray();
                //data = _.groupBy(data, 'name');
                var filter = [];
                if (data[0].value !== "") {
                    filter.push({ 'key': 'codDepto', 'operator': 'equals', value: data[0].value });
                }
                if (data[1].value !== "") {
                    filter.push({ 'key': 'codMunicipio', 'operator': 'equals', value: data[1].value });
                }
                if (data[2].value !== "") {
                    filter.push({ 'key': 'tipoEventoId', 'operator': 'equals', value: data[2].value });
                }
                componentMaps.getLayers()['eventos_mapa'].filter(filter, function (result) { console.log(result); })
                return false;
            });


        });

        $(function () {

            $('#DepartamentoSelector').change(function () {
                var selectedDep = $(this).val();
                var city = $('#MunicipioSelector');

                if (selectedDep != null && selectedDep != '') {

                    $.getJSON('@Url.Action("GetMunicipio")', { departamento: selectedDep }, function (data) {
                        var items = '';

                        items = '<option>Seleccione un valor </option>';

                        $.each(data, function (i, municipio) {
                            items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                        });

                        city.empty();
                        city.html(items);
                        city.click();

                    });

                    var filter = [{ 'key': 'codDepto', 'operator': 'equals', value: selectedDep }];
                    componentMaps.getLayers()['eventos_mapa'].filter(filter, function (result) {

                        if (result.length === 0) {
                            alert("No existe datos");
                        }
                    })
                }

            })

            $('#MunicipioSelector').change(function () {
                var cod = $(this).val();
                var filter = [{ 'key': 'codMunicipio', 'operator': 'equals', value: cod }];
                componentMaps.getLayers()['eventos_mapa'].filter(filter, function (result) {

                    if (result.length === 0) {
                        alert("No existe datos ");
                    }
                })
            })

            $('#ClasificadoSelector').change(function () {
                var cod = $(this).val();
                var filter = [{ 'key': 'tipoEventoId', 'operator': 'equals', value: cod }];
                componentMaps.getLayers()['eventos_mapa'].filter(filter, function (result) {

                    if (result.length === 0) {
                        alert("No existe datos ");
                    }
                })
            })

        });

        $('#btnSearch').click(function () {
            componentMaps.getLayers()['eventos_mapa'].filter()
            $("#DepartamentoSelector").val("").change();
            $("#ClasificadoSelector").val("");
            ActualizarMunicipios();
        });


        function ActualizarMunicipios() {
            var city = $('#MunicipioSelector')
            var items = '';
            items = '<option>Municipios </option>';
            city.empty();
            city.html(items);
            city.click();

        }
    </script>
}
