@model WebSImus.Models.Usuarios
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLoginCelebra.cshtml";
}

<div class="login-body">

    @using (Html.BeginForm("LoginCelebra", "Cuenta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {

        @Html.ValidationSummary(true, "", new { @style = "color:#FFF;" })
        <div class="logo-login-danza">
            <a href="~/Home/Index"></a>
        </div>
        if (@Model.msg != null)
        {
            <div class="login-subtitle"><strong>@Model.msg </strong></div>
        }
        <form action="index.html" class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="text-login">*Usuario</div>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.usuario, new { @class = "form-control", @maxlength = "100", type = "email", title = "Correo electrónico invalido", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.usuario, String.Empty, new { @style = "color: #FFF;" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="text-login">*Contraseña</div>
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.contrasena, String.Empty, new { @style = "color: #FFF;" })
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-12">
                    <div class="columna2"><input type="submit" value="Ingresar" class="btn btn-info btn-block" /></div>
                </div>
                <div class="col-md-12">
                    <div class="columna2"><a href="~/Cuenta/OlvidoContrasenaDanza" class="btn btn-link btn-block">¿Olvidó su contraseña?</a></div>
                </div>
                <div class="col-md-12">
                    <div class="columna2"><a href="~/Cuenta/RegistrarseCelebra" class="btn btn-link btn-block">Regístrese</a></div>
                </div>
            </div>
            <hr />
            @*<div class="subtitulo-login">
                    Puede acceder al sistema usando sus cuentas de Google
                </div><br />
                <div class="form-group">
                    <div class="col-md-5">


                    </div>
                    <div class="col-md-7">
                        <input type="button" class="btn btn-google" onclick="loginMethods.authGoogle()" />

                    </div>
                </div>
            *@
        </form>


    }
</div>
<script type="text/javascript">
    // external login providers
    var loginMethods = {
        openWindow: function (url, name, iWidth, iHeight) {
            var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
            var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
            window.open(url, name, 'height=' + iHeight + ',innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',toolbar=no,menubar=no,scrollbars=yes,resizeable=no,location=no,status=no');
        },

        authFacebook: function (mode) {
            loginMethods.openWindow('/AuthExternal/Login/Facebook?mode=' + mode, '', 680, 340);
        },

        authTwitter: function (mode) {
            loginMethods.openWindow('/AuthExternal/Login/Twitter?mode=' + mode, '', 680, 520);
        },

        authGoogle: function (mode) {
            loginMethods.openWindow('/AuthExternal/Login/Google?mode=' + mode, '', 680, 520);
        },

        authPayPal: function (mode) {
            loginMethods.openWindow('/AuthExternal/Login/PayPal?mode=' + mode, '', 400, 550);
        },

        handleRedirect: function (url) {
            window.location = url;
        }
    };
</script>
@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}


